name: UI tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run_tests:
    runs-on: ubuntu-latest 
  
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Set up python v. 3.9.6
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - name: install requirements
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          playwright install --with-deps

      - name: Run playwright test and generate Allure results
        run: |
          pytest --alluredir=allure_results -n=2

      - name: Get Allure results
        uses: actions/checkout@v6
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Allure Report action from marketplace
        uses: simple-elf/allure-report-action@master
        if: always()
        continue-on-error: true
        with:
          allure_results: allure_results
          allure_history: allure-history

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: allure_result
          path: ./allure_history

  publish_report:
    needs: run_tests
    runs-on: ubuntu-latest

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4

      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v4 
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }} 
          publish_branch: gh-pages  
          publish_dir: ./allure_history 